<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Buy Items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/buyer-header.html"></div>
    <h1>Sellers Nearby</h1>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <form th:action="@{'/buyer?categoryFilter=' + ${category}}" >
        <div class="col-md-8">
            <label>Category</label>
            <select id="category" name="category">
                <option th:text="Select"/>
                <option th:each="category: ${categories}" th:value="${category}" th:text="${category}"/>
            </select>
            <input type="submit" value="Show Category">
        </div>
    </form>
    <tr th:each="seller: ${sellers}">
        <div class="col-sm-6 mb-4 ml-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${seller.getBusinessName()}"/>
                    <p clawss="card-text" th:text="${seller.getBusinessDescription()}"/>
                    <a th:href="@{/buyer/view-seller/} + ${seller.getUserID()}">View</a>
                </div>
            </div>
        </div>
    </tr>
</body>
</html>