<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/buyer/account/update/} + ${buyer.getUserID}" method="POST">
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <table>
        <h1>Edit Details</h1>
        <tr>
            <td>First Name:</td>
            <td><input type=”text” name="firstName" th:value="${buyer.getFirstName()}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type=”text” name="lastName"  th:value="${buyer.getLastName()}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type=”text” name="address"  th:value="${buyer.getAddress()}"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type=”text” name="phone"  th:value="${buyer.getPhone()}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>