<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<form th:action="@{'/buyer/cart/update/' + ${item.getItemID()}}" method="post">
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <label>Item Name: <span th:text="${item.getItemName()}" /></label><br><br>
    <label>Item Description: <span th:text="${item.getItemDescription()}" /></label><br><br>
    <label for="quantity">Quantity: </label>
    <input type="text" name="quantity" id="quantity" th:value="${item.getItemQuantity()}"><br><br>
    <input type="submit" value="Submit">
    <input type="button" value="Cancel" th:onclick="|window.location.href='/buyer/cart/view'|">
</form>
</body>
</html>