<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- form with email and password -->
    <form th:action="@{/validate-login}" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">
        <label for="seller">Seller</label>
        <input type="radio" name="role" id="seller" value="seller">
        <label for="buyer">Buyer</label>
        <input type="radio" name="role" id="buyer" value="buyer">
        <a href="@{/register}">Register</a>
    </form>
</body>
</html>