b<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div style="display: flex; align-items: center; justify-content: center;">
    <form th:action="@{/reset-password/send-otp}" method="post">
        <h6>You will get OTP on your registered email.</h6>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <input type="submit" value="Send OTP" class="btn btn-primary">
        </div>
    </form>
</div>

</body>
</html>