<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Item</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/seller/items/update/} + ${item.getItemID()}" method="POST">
    <table>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <h1>Update Item</h1>
        <tr>
            <td>Item Name:</td>
            <td><input type=”text” name="itemName" th:value="${item.getItemName()}"></td>
        </tr>
        <tr>
            <td>Item Description:</td>
            <td><input type=”text” name="description" th:value="${item.getItemDescription()}"></td>
        </tr>
        <tr>
            <td>Item Price:</td>
            <td><input type=”text” name="price" th:value="${item.getItemPrice()}"></td>
        </tr>
        <tr>
            <td>Item Quantity:</td>
            <td><input type=”text” name="quantity" th:value="${item.getItemQuantity()}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select name="category" id="category">
                    <option value="GROCERY" th:selected="${item.getItemCategory()== 'GROCERY'}">Grocery</option>
                    <option value="RESTAURANT" th:selected="${item.getItemCategory().toString() == 'RESTAURANT'}">Restaurant</option>
                    <option value="LIQUOR" th:selected="${item.getItemCategory().toString() == 'LIQUOR'}">Liquor</option>
                    <option value="ELECTRONICS" th:selected="${item.getItemCategory().toString() == 'ELECTRONICS'}">Electronics</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>