<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Seller</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/seller-header.html"></div>
<table class="table table-striped">
  <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
  <h1>Account Details</h1>
  <tr>
    <th>Personal Information</th>
  </tr>
  <tr>
    <td>First Name:</td>
    <td th:text="${seller.getFirstName()}"/>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td th:text="${seller.getLastName()}"/>
  </tr>
  <tr>
  <tr>
    <td>Business Name:</td>
    <td th:text="${seller.getBusinessName()}"/>
  </tr>
  <tr>
  <tr>
    <td>Business Description:</td>
    <td th:text="${seller.getBusinessDescription}"/>
  </tr>
  <tr>
  <tr>
    <td>Contact:</td>
    <td th:text="${seller.getPhone()}"/>
  </tr>
  <a th:href="@{/seller/account/edit/} + ${seller.getUserID()}">Edit</a>
  <br>
  <a th:href="@{/seller/account/deactivate/}">Deactivate</a>
</table>
</body>
</html>

