<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/seller-header.html"></div>

<h2><u>E-Storefront Analytics Report</u></h2><br>
<h3>Total Orders: </h3><span th:text="${totalOrders}" /><br>
<h3>Total Sales: </h3><span th:text="${totalSales}" /><br>
<h3>Returning Buyers: </h3><span th:text="${totalReturningCustomers}" /><br>

</body>
</html>