<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Order Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:if="${page == 'current'}" ><div th:replace="fragments/seller-header.html"></div></div>
<div th:if="${page == 'previous'}"><div th:replace="fragments/seller-header.html"></div></div>
<div th:if="${page == 'buyer-current'}" > <div th:replace="fragments/buyer-header.html"></div></div>
<div th:if="${page == 'buyer-previous'}" > <div th:replace="fragments/buyer-header.html"></div></div>
<table class="table table-striped">
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <thead>
    <h2>Order Details:</h2></br>
    <tr>
        <th> Order Number </th>
        <th> Status </th>
        <th> Total Amount </th>
        <th> Coupon Number </th>
        <th> Delivery Address </th>
        <th> Pincode </th>
        <th th:if="${page == 'current'}"> Assign delivery person </th>
        <th th:if="${page == 'buyer'}"> Add Review </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${order.getOrderID()}"> Order Number </span></td>
        <td><span th:text="${order.getOrderStatus()}"> Status </span></td>
        <td><span th:text="${order.getTotalAmount()}"> Total Amount </span></td>
        <td><span th:text="${order.getCouponID()}"> Coupon Number </span></td>
        <td><span th:text="${order.getDeliveryAddress()}"> Delivery Address </span></td>
        <td><span th:text="${order.getPincode()}"> Pincode </span></td>
        <td>
            <span th:if="${page == 'buyer-previous'}"><a th:href="@{/buyer/order/add-review/{orderID}(orderID=${order.getOrderID()})}">Add Review</a></span>
       </td>
        <td>
            <span th:if="${page == 'current'}"><a th:href="@{/seller/orders/assign_delivery_person/{orderID}(orderID=${order.getOrderID()})}">Assign</a></span>
        </td>
    </tr>
    </tbody>
</table>
<table  class="table table-striped">
    <thead>
    <h2>Items Added:</h2></br>
    <tr>
        <th> Item ID </th>
        <th> Quantity </th>
        <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(order.getItemDetails())}">
        <td colspan="2"> No items found </td>
    </tr>
    <tr th:each="item : ${order.getItemDetails()}">
        <td><span th:text="${item.getItemID()}"> Item ID </span></td>
        <td><span th:text="${item.getQuantity()}"> Quantity </span></td>
        <td><span th:text="${item.getItemPrice()}"> Price </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>